<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SideBars</title>
    <link rel="stylesheet" href="./side-bars.css">
    <link rel="stylesheet" href="./ico/all.min.css">
    <link rel="stylesheet" href="./ico/fontawesome.min.css">
    <link rel="stylesheet" href="../dashboard/dash.css">
</head>
<body>
    <nav id="side-bar">
        <div class="side-bar-container">
            <div class="logo-bars">
                <img src="./image/Logo-EMIT.png">
            </div>
            <div class="menu-bars">
                <div class="choise active">
                    <a href="#"><i class="fa-solid fa-line-chart"></i> <span class="text-choise">Dashboard</span></a>
                </div>
                <div class="choise">
                    <a href="#"><i class="fa-solid fa-graduation-cap"></i> <span class="text-choise">Student</span></a>
                </div>
                <div class="choise">
                    <a href="#"><i class="fa-solid fa-money"></i> <span class="text-choise">Payment</span></a>
                </div>
                <div class="choise">
                    <a href="#"><i class="fa-solid fa-moon"></i> <span class="text-choise">Theme</span></a>
                </div>
                
            </div>
            <div class="logout-bars">
                <div class="user-name">
                    <!-- <p>Nomdel'utlisateur</p> -->
                    <div class="logout-btn">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a href="#">Deconnecter</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="container">
        
    </div>
</body>
</html>